<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 32px;
    }
</style>

<header>
    <a href="/#">LOGO</a>
    <nav>
        <a href="/#">Test1</a>
        <a href="/#">Test2</a>
        <a href="/#">Test3</a>
    </nav>
    <button>CTA</button>
</header>